body {
  font: 40px Arial;
  font-weight: bold;
  color: aliceblue;
  margin: 0px;
}

.container {
  background-color: rgb(173, 228, 246);
}

img {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.text {
  width: 50%;
  padding: 50px;
  box-sizing: border-box;
  text-align: start;
}

.text1 {
  background-color: rgb(145, 145, 251);
}

.text2 {
  background-color: rgb(173, 228, 246);
}

#text1-float {
  float: left;
}

#text2-float {
  float: right;
}

#container2 {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.flex-text-container {
  width: 100%;
  display: flex;
}
